<header class="sidebar">
  <div class="sidebar-bg1"></div>
  <div class="sidebar-bg2"></div>
  <div class="sidebar-container">
    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <nav class="sidebar-nav">
    {% for my_page in site.pages %}
    {%  if my_page.title %}
      <a class="sidebar-nav-item" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
    {%  endif %}
    {% endfor %}
    </nav>
  </div>
</header>