---
layout: page
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include head.html %}
  <body>
    <!-- Sidebar -->
    {% include sidebar.html %}

    <!-- The post -->
    <div class="content">
      <article itemid="{{ post.url | prepend: site.url }}" class="post">
        <header class="post-header">
          <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
        </header>
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </article>
    </div>
    
    <!-- Page footer -->
    {% include footer.html %}
    <script src="/css/script.js" type="text/javascript" async></script>
  </body>
</html>